.lptable .CNSIMG{border:0;width:14px;height:14px; vertical-align:middle}

.idx1 {FONT-SIZE: 12px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 170%;}
.idx1 .CNSIMG{border:0;width:14px;}

.idx2 {FONT-SIZE: 14px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 170%;}
.idx2 .CNSIMG{border:0;width:16px;}

.idx3 {FONT-SIZE: 16px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 170%; }
.idx3 .CNSIMG{border:0;width:18px;}

.idx4 {	FONT-SIZE: 18px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 170%;}
.idx4 .CNSIMG{border:0;width:20px;}
