@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}
.body {
	color: #435020;
	background: #bedb6b url(../images/body_bg.gif) repeat-y center top;
	text-align: center;
}
/*=====================================================================header*/
#header {
	width: 960px;
	height: 186px;
	background: url(../images/header_bg.jpg) no-repeat 0px 0px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
#header .logo {
	float: left;
	overflow: hidden;
}
#header .logo img {
	border: none;
	width: 300px;
	height: 65px;
}
/*-----------------------------------------------------------------------nav*/
#header ul {
	margin: 0;
	padding: 0;
	font-size: .75em;
	width: 950px;
	text-align: right;
	position: absolute;
	top: 5px;
	right: 7px;
}
#header li {
	display: inline;
	margin: 0 1.2em 0 0;
	padding: 0; 
}
#header li a {
	color: #146102;
	text-decoration: none;
	background: url(../images/nav_a_bg.gif) no-repeat 0 0;
	padding-left: 13px;
}
#header li a:hover {
	background: url(../images/nav_a_bg.gif) no-repeat 2px 0;
}
/*-----------------------------------------------------------------------search*/
#header form {
	width: 18em;
	height: 30px;
	font-size: 15px;
	line-height: 140%;
	color: #feffee;
	position: absolute;
	top: 135px;
	right: 25px;
	background: url(../images/search_bg.gif) no-repeat right top;
	margin: 0;
	padding: 0;
	text-align: right;
}
#header form label {
	margin: 0 12px 0 0;
	vertical-align: -0.3em;
}
#header form input.input {
	width: 120px;
	border: none;
	font-size: 12px;
	line-height: 14px;
	margin: 5px 0 0;
	padding: 0;
	background: none;
	vertical-align: top;
	color: #435020;
}
#header form input.button {
	background: url(../images/search_btn_bg.gif) no-repeat 0 0;
	width: 49px;
	height: 23px;
	color: #FDFFE9;
	border: none;
	margin: 0 0 0 10px;
	padding: 3px 0 0 4px;
	font-size: 15px;
	line-height: 18px;
	vertical-align: top;
	cursor: pointer;
}
/*=====================================================================layout*/
#middle {
	width: 950px;
	margin: 0 auto;
	padding: 0;
}
.layout {
	border-collapse:collapse;
	clear: both;
	width: 950px;
	margin: 0;
	padding: 0;
}
.layout td.leftbg {
	vertical-align: top;
	text-align: left;
	padding: 0 0 30px 0;
	width: 280px;
	background: url(../images/leftbg_bg.gif) repeat-y right 8px;
}
.layout td#center {
	vertical-align: top;
	text-align: left;
	padding: 0 0 30px;
	background: url(../images/layout_center_bg.gif) no-repeat right top;
}

/*-----------------------------------------------------------td.leftbg div.leftcol*/
#leftcol {
	background: url(../images/leftcol_bg.gif) no-repeat 0 0;
	padding-top: 35px;
}
#leftcol .banner { /*左邊小廣告*/
	margin: 15px 0 0 40px;
}
#leftcol .banner a img {
	border: 1px solid #6a9631;
	margin: 0 0 7px;
}
#leftcol .banner a:hover img {
	border: 1px solid #3e6210;
}


/*--------------------------中欄再分兩欄*/
table.column {
	border-collapse: collapse;
}
.column img {
}
.column td.left {
	vertical-align: top;
}
.column td.right {
	vertical-align: top;
	width: 50%;
}
.column td {
	padding: 0;
	margin: 0;
}

/*-----------------------------------------------------------------------------------center*/
/* Center Column table.layout td#center  */

#center p { /*cp頁段落文字*/
	margin: 8px 35px 0 25px;
	padding: 0;
	font-size: .75em;
	line-height: 175%;
}
.leftimg{ /*cp頁的圖*/
	width: 160px;
	height: 120px;
	float: left;
	padding: 6px 12px 12px 7px;
	margin: 5px 8px 0 22px;
	background: url(../images/headline_bg.gif) no-repeat 0px 0px;
}
#center ul { /*cp頁附件列表*/
	font-size: .75em;
	line-height: 170%;
	margin: 8px 30px 10px 20px;
	padding: 0;
	list-style: none;
}
#center ul li {
	margin: 0 0 5px;
	padding: 0 0 0 16px;
	background: url(../images/li_bg.gif) no-repeat 0px 7px;
	letter-spacing: 1px;
}
h4 { /*區塊標題*/
	clear: both;
	color: #de8300;
	font-weight: normal;
	font-size: 1em;
	background: url(../images/h4_bg.gif) no-repeat left bottom;
	padding: 25px 0 15px 10px;
	margin: 20px 35px 5px 0;
	letter-spacing: 1px;
}
.friendly + h4 {
	margin-top: -30px;
}
.path + h4 {
	margin-top: 10px;
}

h5 { /*含縮圖條列的標題*/
	color: #005340;
	font-weight: normal;
	font-size: .95em;
	margin: 10px 35px 9px 25px;
	padding: 0;
	letter-spacing: 1px;
}
h5 a {
	color: #005340;
}
/*--------------*/
.image {
	clear: left;
	display: none;
}
.image img {
}

/*============================================================menu*/
.menu {
	margin: 0 75px 0 15px;
	padding: 0 0 15px 0;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	font-size: .95em;
	line-height: 1.3em;
	padding: 0 15px 1px 0;
	margin: 0 0 10px;
	background: url(../images/menu_ul_bg.gif) repeat-x left bottom;
}
.menu li a {
	display: block;
	color: #005340;
	margin: 0;
	padding: 7px 0 3px 28px;
	text-decoration: none;
	background: url(../images/menu_li_bg.gif) no-repeat 0 3px;
}
.menu li a:hover {
	color: #e17400;
	text-decoration: none;
}
/*第二層選單*/
.menu li ul {
	margin: 3px 0 10px 15px;
	padding: 0;
}
.menu li li {
	font-size: .85em;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	background: none;
	display: inline;
}
.menu li li a {
	color: #538200;
	padding: 0 0 0 14px;
	margin: 0 0 7px;
	background: url(../images/menu_lili_bg.gif) no-repeat 0 3px;
}
.menu li li a:hover {
}
.menu li li .here {
}

/*------------------------------------------------------------------------------------------------ Mp Style */
.headline { /*頭條新聞的圖*/
	width: 160px;
	height: 120px;
	float: left;
	padding: 6px 14px 16px 7px;
	margin: 0 8px 0 13px;
	background: url(../images/headline_bg.gif) no-repeat 0px 0px;
	_border: 1px solid #6e8a55;
	_background: none;
	_margin: 8px 15px 0 20px;
}
.block {
	clear: both;
	overflow: hidden;
	width: 90%;
	margin: 8px 0 0 15px;
	padding: 0;
}
.block img {
	display: block;
	width: 100px;
	height: 75px;
	float: left;
	background: url(../images/block_img_bg.gif) no-repeat 0px 0px;
	margin: 0 5px 0 0;
	padding: 4px 10px 8px 4px;
	_border: 1px solid #6e8a55;
	_background: none;
	_margin: 3px 10px 0 5px;
}
.block h5 {
	margin-top: 3px;
	color: #435020;
	line-height: 160%;
}

/*縮圖瀏覽排版表格*/
.inline {
	margin: 0 0 0 15px;
}
.inline td {
	padding: 5px 20px 15px 0;
	vertical-align: top;
}
.inline img {
	width: 120px;
	height: 90px;
	padding: 4px 10px 9px 4px;
	margin: 0;
	background: url(../images/inline_img_bg.gif) no-repeat 0 0;
	_border: 1px solid #6e8a55;
	_background: none;
}
#center .inline td p {
	margin: -5px 0 0 4px;
	padding: 0;
	width: 120px;
	line-height: 150%;
}
/*------------------------------------------------------------- List Page Style */
.lptable {
	font-size: .75em;
	line-height: 150%;
	border-collapse: collapse;
	border-bottom: 2px solid #adbc7b;
	letter-spacing: 1px;
	width: 620px;
	margin: 15px 0 15px 25px;
}
.lptable caption {
	font-size: 1.25em;
	line-height: 1.5em;
	border-bottom: 2px solid #adbc7b;
}
.lptable th {
	font-weight: normal;
	border-bottom: 1px solid #adbc7b;
	padding: 4px 8px 3px;
	text-align: center; 
}
.lptable td {
	padding: 4px 8px 3px;
	border-bottom: 1px dotted #D6DC99;
	vertical-align: top;
}
.lpphoto {
}
.lpphoto td {
}
.lpphoto img {
}
.lpphoto p {
}

/*分頁*/
.term {
	font-size: .75em;
	line-height: 120%;
	margin: 10px 0 12px 25px;
}
.term select {
	font-size: .75em;
	height: 1.8em;
}
.term a.previous {
	margin: 0 0.3em 0 0.8em;
	padding: 3px 0 2px 22px;
	background: url(../images/page_prev.gif) no-repeat left top;
}
.term a:hover.previous {
	background: url(../images/page_prev_hover.gif) no-repeat left top;
}
.term a.next {
	margin: 0 0.8em 0 0.3em;
	padding: 3px 22px 2px 0;
	background: url(../images/page_next.gif) no-repeat right top;
}
.term a:hover.next {
	background: url(../images/page_next_hover.gif) no-repeat right top;
}
.term .search {
	display: inline;
	margin: 0 0 0 10px;
}
.term .search a {
	padding: 1px 0 3px 16px;
	background:url(../images/search_icon.gif) no-repeat left top;
}

/* 分類 category */
.category {
	font-size: .85em;
	line-height: 120%;
	margin: 10px 0 15px 20px;
}
.category a {
	margin: 0 0.5em;
}
.category a:hover {
	text-decoration: none;
	color: #CB5B00;
}

.nplist {
}
.nplist ul li {
}

/*------------------------------------------查詢與轉寄 */
form .cptable {
	font-size: .75em;
	border-collapse: collapse;
}
form .cptable caption {
	font-size: 125%;
}
form .cptable th {
	text-align: right;
	font-weight: normal;
	vertical-align: top;
	padding: 5px 2px 0 0;
	white-space: nowrap;
}
form .cptable td {
	vertical-align: top;
	padding: 0 0 3px;
}
form .cptable td input , form .cptable td textarea {
	background: #FDFFE9;
	color: #435020;
	font-size: 100%;
	border: 1px solid #979C61;
	width: 420px;
	padding: 2px 3px;
}
form .cptable td textarea {
	line-height: 150%;
}
form .cptable td input.button {
	width: auto;
	border: none;
	background: #458d22;
	color: #FDFFE9;
	padding: 4px 1px 1px;
	border: 1px solid #FDFFE9;
	margin: 5px 0 0;
	cursor: pointer;
}
form .cptable td select {
	border: 1px solid #FDFFE9;
	background: #FDFFE9;
	color: #435020;
}
form .cptable td input[name=pcshowhtx_xpostdateS] , form .cptable td input[name=pcshowhtx_xpostdatee] {
	width: 194px;
}
form .cptable td input#date {
	_width: 194px;
}
/*
.cptable {
}
.cptable caption {
}
.cptable th {
}
.cptable td {
}
*/
/*----------------------------------------------photobox, cpphoto.html 用*/
.photobox {
}
.photobox img {
}
.photobox h5 {
}
.photobox p {
}
.photobox a {
}
.photobox div {
	clear: both;
	font-size: .75em;
	line-height: 1em;
	margin: 12px auto 12px;
	text-align: center;
}
.photobox div a {
	text-decoration: none;
}
.photobox a.previous {
	margin: 0 0.3em 0 0.8em;
	padding: 4px 0 2px 22px;
	background: url(../images/page_prev.gif) no-repeat left top;
}
.photobox a:hover.previous {
	background: url(../images/page_prev_hover.gif) no-repeat left top;
}
.photobox a.next {
	margin: 0 0.8em 0 0.3em;
	padding: 4px 22px 2px 0;
	background: url(../images/page_next.gif) no-repeat right top;
}
.photobox a:hover.next {
	background: url(../images/page_next_hover.gif) no-repeat right top;
}

/*-----------------------------------------------瀏覽路徑*/
.path {
	margin: 17px 0 0 3px;
}
#center .path p {
	margin: 0;
	padding: 0;
	
}

/*-----------------------friendly，連結：友善列印、轉寄友人*/
.friendly {
	font-size: .75em;
	float: right;
	margin:  0 30px 0 0;
	padding:0;
	overflow: hidden;
	_margin-bottom: -15px;
}
.friendly div {
	margin: 0 0 0 4px;
	float:left;
}
.friendly div a {
	text-decoration: none;
	display: block;
	padding: 6px 12px 8px 35px;
	color: #005340;
}
.friendly div a:hover {
	text-decoration: none;
	padding: 7px 12px 7px 35px;
	color: #009303;
}
.friendly .print a {
	background: url(../images/fd_print_bg.gif) no-repeat 0 0;
}
.friendly .back a {
	background: url(../images/fd_back_bg.gif) no-repeat 0 0;
}
.friendly .email a {
	background: url(../images/fd_mail_bg.gif) no-repeat 0 0;
}
.friendly .print a:hover {
	background: url(../images/fd_print_hover_bg.gif) no-repeat 0 0;
}
.friendly .back a:hover {
	background: url(../images/fd_back_hover_bg.gif) no-repeat 0 0;
}
.friendly .email a:hover {
	background: url(../images/fd_mail_hover_bg.gif) no-repeat 0 0;
}

/*------------------------------------------ Sitemap */
#center .sitemap ul {
	font-size: .75em;
}
#center .sitemap ul li {
}
#center .sitemap ul li a {
}
#center .sitemap ul ul, #center .sitemap ul ul ul , #center .sitemap ul ul ul ul {
	font-size: 100%;
}

/*============================================================footer*/
#footer {
	font-size: .75em;
	line-height: 160%;
	width: 920px;
	margin: 0 auto;
	padding: 30px 0 10px;
	background: url(../images/footer_bg.gif) no-repeat center top;
	overflow: hidden;
}
#footer .aplus {
	float: right;
	margin: 5px 20px 0;
}
#footer .aplus img {
	border: 1px solid #5C5C36;
}
#footer p {
	margin: 0 15px;
	padding: 0;
	text-align: left; 
}
#footer .logo {
	float: left;
	margin: 0 20px 0 20px;
}
#footer .logo img {
}

/*================================================================共用樣式*/
form {
}
a {
	text-decoration: underline;
	color: #005340;
}
a:hover {
	text-decoration: none;
	color: #379b00;
}
strong {
}
em {
	font-style: normal;
}
.input {
}
.button {
}
.more {
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	margin: 5px 40px 0;
}
.more a {
	background: url(../images/more_bg.gif) no-repeat 0 0;
	padding: 4px 9px 6px 22px;
	text-decoration: none;
}
.more a:hover {
	background: url(../images/more_hover_bg.gif) no-repeat 0 0;
	padding: 5px 9px 5px 22px;
	color: #f08800;
}
/*gotop , 回頁首*/
.top {
	text-align: right;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2px;
	margin: 20px 35px 20px 0;
}
.top a {
	background: url(../images/top_bg.gif) no-repeat left top;
	padding: 4px 8px 6px 21px;
	text-decoration: none;
}
.top a:hover {
	background: url(../images/top_hover_bg.gif) no-repeat left top;
	color: #f08800;
	padding: 6px 8px 4px 21px;
}
/*--------------------------------------------*/
.accesskey {
	float: left;
	text-decoration: none;
	color: #feffee;
}
.accesskey a , .accesskey a:hover {
	text-decoration: none;
	color: #feffee;
}
#header .accesskey a {
	color: #bedb6b;
}
#leftcol .accesskey {
	margin-top: -30px;
	margin-left: 20px;
}
#center .accesskey {
	position: absolute;
	color: feffee;
}

img {
	border: none;
}
/*------------------------------------------print */
div#center {
	margin: 0 20px;
	color: #444444;
}
div#center h4 {
	color: #000000;
	background: none;
	font-weight: bold;
}
div#center ul  {
	list-style: disc;
	margin-left: 50px;
	color: #444444;
}
div#center li {
	background: none;
	padding-left: 0;
	color: #444444;
}
div#center img {
	background: none;
	border: 1px solid #BBBBBB;
	padding: 0;
}