@charset "big5";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin: 0px;
	padding: 0px;
}
img{
	border:none;
}
a{
	color:#006;
}
.menuA{
}
.menuA ul{
	margin:0;
	padding:0;
	list-style:none;
}
.menuA ul li{
	margin:0;
	padding:0;
	text-align:center;
	display:inline;
	
}
.menuA ul li a{
	font-size:13px;
	color:#FFF;
	width:78px;
	margin:0;
	padding:4px 0;
	line-height:16px;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	background:url(../image/mn_bg.gif) no-repeat top; 
}
.menuA ul li a:hover{
	color:#FF0;
}
#menuA_selected{
	color:#060;
	background:url(../image/mn_bg_h.gif) no-repeat top;
}
#menuA_act{
	width:107px;
	background:url(../image/mn_bg_act_h.gif) no-repeat top;
}
#menuA_actselected{
	color: #900;
	width:107px;
	background:url(../image/mn_bg_act.gif) no-repeat top;
}
td.content{
	font-size:13px;
	border:#0C0 solid 1px;
	background:#ffc;
}
.content_header{
	text-align:center;
	background:url(../image/header_bg.gif) repeat-x top;
}
.content_mid{
	padding:0 10px;
}
.content img{
	border:none;
}
.content p{
	line-height:1.5em;
}
.content ol{
}
.content ol li{
	line-height:1.5em;
	margin:5px 0;
}

.content table{
	border-top:#360 solid 1px;
	border-left:#360 solid 1px;
	margin:0 0 15px 0;
}
.content table th{
	border-bottom:#360 solid 1px;
	border-right:#360 solid 1px;
	background:#6C0;
	padding:3px;
}
.content table td{
	border-bottom:#360 solid 1px;
	border-right:#360 solid 1px;
	padding:3px;
}
.link{
	border: #F30 dashed 1px;
	color:#F30;
	padding:2px;
	background:#fff;
	text-decoration:none;
}
.link:hover{
	color:#fff;
	background:#F30;
	border:#fff dashed 1px;
}
#none{
	border:none;
	padding:0;
}
#none td{
	border:none;
	padding:0;
}
#product{
	border:none;
}
#product td{
	border:none;
}
#rank{
	border-top:#360 solid 2px;
	border-left:none;
	margin:0;
	background:url(../image/rank_tdbg.gif);
}
#rank th{
	border-bottom:#360 solid 1px;
	border-right:none;
	background:url(../image/rank_thbg.gif) bottom repeat-x #d5e05b;
	font-weight:normal;
	padding:6px 3px;
}
#rank td{
	border-bottom:#360 dotted 1px;
	border-right:none;
	padding:6px 3px;
}
#qa{
	margin:0;
	border-top:#F60 1px solid;
	border-left:#F60 1px solid;
	border-bottom:none;
	border-right:none;
	background:url(../image/qa_tdbg.gif);
}
#qa th{
	border-top:none;
	border-left:none;
	border-bottom:#F60 1px solid;
	border-right:#F60 1px solid;
	font-weight:normal;
	padding:8px 5px;
	background:url(../image/qa_thbg.gif) repeat-x bottom #FC0;
}
#qa td{
	border-top:none;
	border-left:none;
	border-bottom:#F60 1px solid;
	border-right:#F60 1px solid;
	padding:8px 5px;
}

.pantology2
{
	padding-left:15px;
}