<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFiles/fishBowl.log@"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %file%line [%property{NDC}]%newline  %message%newline"/>
      </layout>
    </appender>
    <logger name="FishBowl">
      <level value="Info"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
  </log4net>
  <connectionStrings>
    <add name="FishBowl" providerName="System.Data.SqlClient" connectionString="Server=127.0.0.1;User ID=sa;Password=gss;Database=FishBowl;Persist Security Info=True"/>
  </connectionStrings>
  <appSettings>
	<!--定時加錢間隔生長天數-->
    <add key="MoneyAddedTimeInterval" value="32"/>
    <!--定時加錢金額-->
    <add key="MoneyAdded" value="50"/>
    <!--隨機生病機率臨界數字-->
    <add key="randSickNumber" value="3"/>
    <!--遊戲速度-現實一天等於遊戲幾天-->
    <add key="game_speed" value="1440"/>
    <!--遊戲時間調整-往後加幾天-->
    <add key="time_delta" value="0"/>
  </appSettings>
</configuration>