<?xml version="1.0"  encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="ConnString" value="server=10.10.5.59;uid=hygip;pwd=hyweb;database=mGIPhy"/>
     <add key="mySiteID" value="mofa"/>
<!-- Web.Config պA -->
  </appSettings>
  <system.web>
   <httpRuntime maxRequestLength="40000"/>
    <compilation defaultLanguage="vb" debug="true" />
    <customErrors mode="Off" />
    
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
   
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
</configuration>