<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
        </sectionGroup>
        <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <section name="lamdbaapiSetting" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="LogFiles/Dr.log@"/>
            <staticLogFileName value="false"/>
            <appendToFile value="true"/>
            <rollingStyle value="Date"/>
            <datePattern value="yyyy-MM-dd"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level %logger %file%line [%property{NDC}]%newline  %message%newline"/>
            </layout>
        </appender>
        <root>
            <level value="Error"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
        <logger name="Dr">
            <level value="Error"/>
            <appender-ref ref="RollingFileAppender"/>
        </logger>
    </log4net>
    <appSettings>
        <!-- Added By Leo 2011-8-01-->
        <!-- 百年大事紀: iCTUnitEvent -->
        <add key="iCTUnitEvent" value="4345"/>
        <!-- 珍貴老照片: ctRootID、currentNodeId、iCTUnitPic -->
        <add key="ctRootID" value="388"/>
        <add key="currentNodeId" value="6916"/>
        <add key="iCTUnitPic" value="4346"/>
        <!-- 農業故事 -->
        <add key="iCTUnit" value="4347" />

        <!-- 推薦文章公告資料編號 -->
        <add key="Recommandkey" value="440879"/>

        <add key="WWWUrl" value="http://kmweb.coa.gov.tw"/>
        <add key="myURL" value="http://kmweb.coa.gov.tw"/>
        <add key="myXDURL" value="http://kmwebsys.coa.gov.tw/site/coa/"/>
        <add key="xdsppath" value="http://kmwebsys.coa.gov.tw/site/coa/wsxd2/xdsp.aspx?xdurl=masterpage.aspx&amp;mp=1"/>
        <!-- 四邊套版, 上下左右, 小百科, 主題館列表 -->
        <add key="4sidexslpath" value="D:\hyweb\GENSITE\project\web\xslGip\style3\4sidepage.xsl"/>
        <!-- 三邊套版, 上下右, 知識庫 -->
        <add key="3rsidexslpath" value="D:\hyweb\GENSITE\project\web\xslGip\style3\3rsidepage.xsl"/>
        <!-- 二邊套版, 上下,  hyftd search result-->
        <add key="2sidexslpath" value="D:\hyweb\GENSITE\project\web\xslGip\style3\2sidepage.xsl"/>

        <!-- 知識庫存放XML的位置-->
        <add key="CatTreeXmlPath" value="D:\hyweb\GENSITE\project\web\CatTreeXml\"/>

        <add key="MailServer" value="127.0.0.1"/>
        <add key="MailFrom" value="km@mail.coa.gov.tw"/>
        <add key="Activity" value="true"/>
        <add key="ActivityId" value="knowledge2010"/>
        <!--廣告輪播的單元ID-->
        <add key="AdRotateCtUnitId" value="939"/>
        <!--知識問題的單元ID-->
        <add key="KnowledgeQuestionCtUnitId" value="932"/>
        <!--知識討論的單元ID-->
        <add key="KnowledgeDiscussCtUnitId" value="933"/>
        <!--專家補充的單元ID-->
        <add key="ProfessionAnswerCtUnitId" value="934"/>
        <!--知識意見的單元ID-->
        <add key="KnowledgeOpinionCtUnitId" value="935"/>
        <!--知識問題補充-->
        <add key="KnowledgeAdditionalCtUnitId" value="936"/>
        <!--知識追蹤-->
        <add key="KnowledgeTraceCtUnitId" value="937"/>
        <!--知識評價-->
        <add key="KnowledgeGradeCtUnitId" value="938"/>
        <add key="KnowledgeBaseDSD" value="39"/>
        <add key="SiteId" value="3"/>
        <add key="HyftdPort" value="2816"/>
        <!-- 小百科 -->
        <add key="PediaBaseDSD" value="43"/>
        <add key="PediaCtUnitId" value="2155"/>
        <!-- 小百科補充 -->
        <add key="PediaAdditionalCtUnitId" value="2156"/>
        <add key="PediaSiteId" value="4"/>
        <!-- 入口網logo設計競賽 -->
        <add key="Path" value="D:\hyweb\GENSITE\project\web\LogoSelection\images\matchlogo\"/>
        <add key="DB" value="D:\hyweb\GENSITE\project\web\LogoSelection\db\LOGO_SELECTION"/>
        <add key="Type" value="1"/>
        <add key="TypeName" value="農委會知識入口網logo票選"/>
        <add key="Deadline" value="2009/06/26"/>
        <add key="startDay" value="2009/06/08"/>
        <!-- COA 站台的資料庫連線設定 -->
        <add key="COAConnectionString" value="Server=127.0.0.1;initial catalog=mGIPcoanew;User ID=sa;Password=gss;"/>
        <!-- 種植活動Session過期後的重導頁面 -->
        <add key="RedirectPage" value="http://kminter.coa.gov.tw/login/login.asp"/>
        <!-- 種植活動管理員帳號id -->
        <add key="Admin" value="admin|Admin|administrator|Administrator|derek_chang|camper|actor001"/>
        <!-- 種植活動個人圖片顯示的最大寬度 -->
        <add key="MaxAvatarWidth" value="120"/>
        <!-- 種植活動個人圖片顯示的最大高度 -->
        <add key="MaxAvatarHeight" value="160"/>
        <!-- 種植活動圖片顯示的最大寬度 -->
        <add key="MaxWidth" value="640"/>
        <!-- 種植活動圖片顯示的最大高度 -->
        <add key="MaxHeight" value="480"/>
        <!-- 活動開始時間 -->
        <add key="UploadFromDate" value="2009/07/20 04:00:00"/>
        <!-- 活動結束時間 -->
        <add key="UploadToDate" value="2009/09/23 12:00:00"/>
        <!-- 投票開始時間 -->
        <add key="VoteFromDate" value="2009/07/24 12:00:00"/>
        <!-- 投票結束時間 -->
        <add key="VoteToDate" value="2009/10/21 16:10:00"/>
        <!-- 投票票數限制 -->
        <add key="voteLimit" value="3"/>
        <!-- 種植活動投票成功提示語 -->
        <add key="Thanks" value="謝謝您的投票"/>
        <!-- 種植活動投票時間間隔未過提示語 -->
        <add key="Warning" value="您已完成投票"/>
        <!-- 後台管理者帳號 -->
        <add key="managerId" value="actor001"/>
        <!-- 後台管理者姓名 -->
        <add key="managerName" value="黃庭慧"/>
        <!-- 後台管理者暱稱 -->
        <add key="managerNickName" value="黃庭慧"/>
        <!-- 後台位置 -->
        <add key="kmwebsysSite" value="kmwebsys.coa.gov.tw"/>
        <!-- 登入驗證時間 -->
        <add key="LoginTime" value="10"/>
        <add key="CategoryTreeRootNode" value = "2" />
        <add key="LambdaWebSite" value="http://kmintra.coa.gov.tw/coa/"/>
        <!-- 農漁生產地圖 關聯文章 random 筆數 -->
        <add key="jigsaw2010" value="5"/>
        <!-- 動態游標 參數放置id -->
        <add key="showcursoriconid" value="249071"/>
    </appSettings>
    <connectionStrings>
        <add name="ODBCDSN" connectionString="server=127.0.0.1;database=mGIPcoanew;uid=hyGIP;pwd=hyweb" providerName="System.Data.SqlClient"/>
        <add name="GSSConnString" connectionString="server=localhost;database=mGIPcoanew;uid=hyGIP;pwd=hyweb" providerName="System.Data.SqlClient"/>
        <add name="KMConnString" connectionString="server=127.0.0.1;database=COA;uid=hyGIP;pwd=hyweb" providerName="System.Data.SqlClient"/>
        <add name="ConnString" connectionString="server=127.0.0.1;database=mGIPcoanew;uid=hyGIP;pwd=hyweb" providerName="System.Data.SqlClient"/>
        <add name="PlantingConnString" connectionString="server=127.0.0.1;database=LITTLE_BEAN;uid=game2008;pwd=1qaz3edc" providerName="System.Data.SqlClient"/>
        <add name="GardeningconnString" connectionString="server=127.0.0.1;database=GARDENING;uid=hyGIP;pwd=hyweb" providerName="System.Data.SqlClient"/>
        <add name="fishBowlConnString" connectionString="server=127.0.0.1;database=FishBowl;uid=sa;pwd=gss" providerName="System.Data.SqlClient"/>
        <add name="LambdaCoaConnString" connectionString="server=127.0.0.1;database=GSS_LAMBDA_COA;uid=coakm;pwd=gss" providerName="System.Data.SqlClient"/>
        <add name="mGIPcoanewConnectionString" connectionString="Data Source=KWPI-COA-DEV;Initial Catalog=mGIPcoanew;Persist Security Info=True;User ID=hygip;pwd=hyweb"
          providerName="System.Data.SqlClient" />
        <add name="PuzzleConnString" connectionString="Data Source=127.0.0.1;Initial Catalog=Puzzle;Persist Security Info=True;User ID=hygip;pwd=hyweb" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <customErrors mode="Off"/>
        <!-- 
            設定 compilation debug="true" 會將偵錯
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。

            Visual Basic 選項:
            設定 strict="true" 會不允許所有可能發生
            資料遺失的資料型別進行轉換。
            設定 explicit="true" 會強制宣告各項變數。
        -->
        <compilation debug="true" strict="false" explicit="true">
            <codeSubDirectories>
                <add directoryName="VB"/>
                <add directoryName="CS"/>
            </codeSubDirectories>
            <assemblies>
                <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <pages>
            <namespaces>
                <clear/>
                <add namespace="System"/>
                <add namespace="System.Collections"/>
                <add namespace="System.Collections.Specialized"/>
                <add namespace="System.Configuration"/>
                <add namespace="System.Text"/>
                <add namespace="System.Text.RegularExpressions"/>
                <add namespace="System.Web"/>
                <add namespace="System.Web.Caching"/>
                <add namespace="System.Web.SessionState"/>
                <add namespace="System.Web.Security"/>
                <add namespace="System.Web.Profile"/>
                <add namespace="System.Web.UI"/>
                <add namespace="System.Web.UI.WebControls"/>
                <add namespace="System.Web.UI.WebControls.WebParts"/>
                <add namespace="System.Web.UI.HtmlControls"/>
            </namespaces>
        </pages>
        <!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
        <authentication mode="Windows"/>
        <!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁， 
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="OptionInfer" value="true"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
    <spring>
        <parsers>
            <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
        </parsers>
        <context>
            <resource uri="assembly://Gardening.Core/Gardening.Core/objects.xml"/>
        </context>
    </spring>
    <databaseSettings>
        <add key="db.datasource" value="localhost"/>
        <add key="db.user" value="sa"/>
        <add key="db.password" value="gss"/>
        <add key="db.database" value="GARDENING"/>
    </databaseSettings>
    <lamdbaapiSetting>
        <add key="APIUrl" value="http://kmintra.coa.gov.tw/coa/api"/>
        <add key="APIActor" value="admin"/>
        <add key="APIKey" value="188a0e0577c54d5284f09821091e7fc7"/>
        <add key="APIFormat" value="json"/>
    </lamdbaapiSetting>

    <system.net>
        <mailSettings>

            <!--
            <smtp deliveryMethod="network" from="km@mail.coa.gov.tw">
                <network
                  host="newsletter.coa.gov.tw"
                  userName="coakm" 
                  password="1Q2w3e4r5T"
                  port="25"
                  defaultCredentials="true"/>
            </smtp>
            -->

            <smtp deliveryMethod="network" from="km@mail.gss.com.tw">
                <network
                  host="gss.com.tw"
                  port="25"
                  defaultCredentials="true"/>
            </smtp>

        </mailSettings>
    </system.net>
</configuration>