.TopBtn {
	font-size: 11px;
	color: #333333;
	cursor: hand;
}
.TopBtn_M {
	font-size: 11px;
	color: #ffffff;
	cursor: hand;
}
.mainBtn {
	font-size: 12px;
	color: #FFFFFF;
	cursor: hand;
	padding-top: 2px;
	text-align: center;
}
.mainBtn_M {
	background-color:#0277BF;
	font-size: 12px;
	color: #FFFFFF;
	cursor: hand;
	padding-top: 2px;
	text-align: center;
}
.copyright {
	font-size: 11px;
	color: #999999;
	line-height: 16px;

}
.num {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #FFFFFF;
	cursor: hand;
	background-color: #0059B3;
	height: 12px;
	width: 12px;
}
.num_M {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #0059B3;
	cursor: hand;
	background-color: #9ECEFF;
	height: 12px;
	width: 12px;
}a:link {
	font-size: 13px;
	color: #CC0000;
	text-decoration: none;
}
a:visited {
	color: #990000;
	font-size: 13px;
	text-decoration: none;
}
a:hover {
	font-size: 13px;
	color: #3300FF;
	text-decoration: underline;
}
.ContentList {
	font-size: 12px;
	color: #000000;
	cursor: hand;

}
.ContentTitle {
	font-size: 13px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	font-weight: bold;



}
.TbTitle {
	font-size: 12px;
	color: #333333;
	background-color: B2E2FF;
	font-weight: bold;
	width: 90px;
	padding-left: 10px;




}
.BtnGreen {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: E0FCCE;
	border-right-color: AEC89E;
	border-bottom-color: AEC89E;
	border-left-color: E0FCCE;
	background-color: CDF2B6;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;

}
.BtnGreen_M {
	font-size: 13px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: E0FCCE;
	border-right-color: AEC89E;
	border-bottom-color: AEC89E;
	border-left-color: E0FCCE;
	background-color: 63C228;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnGreen_D {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: AEC89E;
	border-right-color: E0FCCE;
	border-bottom-color: #e0fcce;
	border-left-color: #aec89e;
	background-color: CDF2B6;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBrown {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: CECCAE;
	border-right-color: 999786;
	border-bottom-color: 999786;
	border-left-color: CECCAE;
	background-color: BBB89C;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;

}
.BtnBrown_M {
	font-size: 13px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: CECCAE;
	border-right-color: 999786;
	border-bottom-color: 999786;
	border-left-color: CECCAE;
	background-color: 8C8A74;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBrown_D {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 999786;
	border-right-color: E5E2BE;
	border-bottom-color: E5E2BE;
	border-left-color: 999786;
	background-color: 8C8A74;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnYellow {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: FFF7D9;
	border-right-color: D1C493;
	border-bottom-color: D1C493;
	border-left-color: FFF7D9;
	background-color: FFEDA6;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;

}
.BtnYellow_M {
	font-size: 13px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: FFF7D9;
	border-right-color: D1C493;
	border-bottom-color: D1C493;
	border-left-color: FFF7D9;
	background-color: E2BC24;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnYellow_D {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: D1C493;
	border-right-color: FFF7D9;
	border-bottom-color: FFF7D9;
	border-left-color: D1C493;
	background-color: FFEDA6;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBlue {
	font-size: 13px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 43A8E3;
	border-right-color: 165980;
	border-bottom-color: 165980;
	border-left-color: 43A8E3;
	background-color: 1D7AAE;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;


}
.BtnBlue_M {
	font-size: 13px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 43A8E3;
	border-right-color: 165980;
	border-bottom-color: 165980;
	border-left-color: 43A8E3;
	background-color: #00669e;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBlue_D {
	font-size: 13px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 165980;
	border-right-color: 43A8E3;
	border-bottom-color: 43A8E3;
	border-left-color: 165980;
	background-color: 1D7AAE;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBlue01 {
	font-size: 12px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	padding-left: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 43A8E3;
	border-right-color: 165980;
	border-bottom-color: 165980;
	border-left-color: 43A8E3;
	background-color: 1D7AAE;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBlue01_M {
	font-size: 12px;
	color: #ffffff;
	height: 22px;
	padding-top: 3px;
	padding-left: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 43A8E3;
	border-right-color: 165980;
	border-bottom-color: 165980;
	border-left-color: 43A8E3;
	background-color: #00669e;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.BtnBlue01_D {
	font-size: 12px;
	color: #333333;
	height: 22px;
	padding-top: 3px;
	padding-left: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: 165980;
	border-right-color: 43A8E3;
	border-bottom-color: 43A8E3;
	border-left-color: 165980;
	background-color: 1D7AAE;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: hand;
}
.SubBtnGreen {
	font-size: 11px;
	color: #333333;
	text-align: left;
	cursor: hand;
	height: 18px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 15px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: ffffff;
	border-left-color: ffffff;
	background-color: E5F0D4;

}
.SubBtnGreen_M {
	font-size: 11px;
	color: #333333;
	text-align: left;
	cursor: hand;
	height: 18px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 15px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: ffffff;
	border-bottom-color: ffffff;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: cccccc;
	border-left-color: cccccc;
	background-color: FFFC99;
}
.DownloadList {
	font-size: 12px;
	padding-top: 5px;
	color: #000000;


}
.DownloadRef {
	font-size: 12px;
	color: #999999;
	font-weight: normal;
	padding-bottom: 5px;


}
.SubTitle
{
	line-height:16px;
	padding-left:28px;
	color:#9E2020;
	font-size: 13px;
	font-weight: bold;
}
.honestTT {
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
}
.honestCon {
	font-size: 12px;
	color: #666666;
}
.RulesTitle
{
	line-height:16px;
	padding-left:10px;
	color:#9E2020;
	font-size: 13px;
	font-weight: bold;
}
.RulesContent
{
	font-size:12px;
	color:#666666;
	line-height:18px
}
.TbContent {
	font-size: 12px;
	color: #333333;
	padding: 3px;
}
.RulesTitle01 {
	font-size: 13px;
	font-weight: bold;
	color: EB1510;
}
.RulesContent01 {
	font-size: 12px;
	color: 523908;
	padding:3 ;
}
.honestExp {
	font-size: 12px;
	color: #663300;
	padding-left: 25px;
	line-height: 18px;
	padding-right: 25px;

}
.CoastTitle {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding-left: 10px;
}
.IntroCat {
	font-size: 13px;
	color: #FFFFFF;
	cursor: hand;
}
.IntroBtn {
	font-size: 12px;
	color: #000000;
	cursor: hand;
}
.IntroBtn_M {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	cursor: hand;
}
.IntroName {
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: normal;
	padding-top: 10px;
}.IntroTitle {
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
.IntroContent {
	font-size: 12px;
	color: #333333;
	line-height:20px;
}
.DepartBtn {
	font-size: 12px;
	color: #000000;
	cursor: hand;
	padding-left: 10px;
}
.DepartBtn_M {
	font-size: 12px;
	color: #996600;
	cursor: hand;
	padding-left: 10px;
	text-decoration: underline;

}
.DepartContact {
	font-size: 12px;
	color: #FFFFFF;
}
.font12 {
	font-size: 12px;
}
.Btn12 {
	font-size: 12px;
	padding-left: 5px;
}
.SubBtnBlue {
	font-size: 12px;
	color: #000000;
	text-align: left;
	cursor: hand;
	height: 18px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 15px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: 182D39;
	border-bottom-color: 182D39;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: B2DAF1;
	border-left-color: B2DAF1;
	background-color: #5EB2E1;
}
.SubBtnBlue_M {
	font-size: 12px;
	color: #000000;
	text-align: left;
	cursor: hand;
	height: 18px;
	padding-top: 3px;
	padding-right: 5px;
	padding-left: 15px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: 182D39;
	border-bottom-color: 182D39;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: B2DAF1;
	border-left-color: B2DAF1;
	background-color: #83C9F0;
}
.Font13 {
	font-size: 13px;
	line-height: 22px;
	color: #000000;
	padding-right: 20px;

}
.font15 {
	font-size: 15px;
	color: #FFFFFF;
}
.search {
	font-size: 13px;
	color: #333333;
	padding-left:28px;
	padding-top: 6px;
}
.p12 {
	font-size: 12px;
	color: #004261;
	line-height: 150%;

}
.toplink:link {
	color: #004261;
	text-decoration: none;
}
.toplink:visited {
	color: #004261;
	text-decoration: none;
}
.toplink:hover {
	color: #00a99d;
	text-decoration: none;
}
.toplink:active {
	color: #FF6600;
	text-decoration: none;
}
.leftlink2:link {
	background-color: #FCF8DF;
	height: 21px;
	width: 100%;
	padding-left: 15px;
	color: #333333;
	text-decoration: none;
	border-top: 0px outset #FFFFFF;
	border-right: 0px outset #FFFFFF;
	border-bottom: 1px outset #FFFFFF;
	border-left: 0px outset #FFFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	line-height: 150%;
	font-size: 12px;




}
.leftlink2:visited {
	background-color: #FCF8DF;
	height: 21px;
	width: 100%;
	padding-left: 15px;
	color: #333333;
	text-decoration: none;
	border-top: 0px outset #FFFFFF;
	border-right: 0px outset #FFFFFF;
	border-bottom: 1px outset #FFFFFF;
	border-left: 0px outset #FFFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	line-height: 150%;
	font-size: 12px;

}
.leftlink2:hover {
	background-color: #F2EBBF;
	height: 21px;
	width: 100%;
	padding-top: 5px;
	padding-left: 15px;
	border-top: 0px inset #FFFFFF;
	border-right: 0px inset #FFFFFF;
	border-bottom: 1px inset #FFFFFF;
	border-left: 0px inset #FFFFFF;
	line-height: 150%;
	font-size: 12px;



}
.rightlink:link {
	height: 21px;
	width: 100%;
	padding-left: 2px;
	color: #333333;
	text-decoration: none;
	border-top: 0px dotted #4C7A8F;
	border-right: 0px dotted #4C7A8F;
	border-bottom: 1px dotted #4C7A8F;
	border-left: 0px dotted #4C7A8F;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	line-height: 150%;
	font-size: 12px;




}
.rightlink:visited {
	height: 21px;
	width: 100%;
	padding-left: 2px;
	color: #333333;
	text-decoration: none;
	border-top: 0px dotted #4C7A8F;
	border-right: 0px dotted #4C7A8F;
	border-bottom: 1px dotted #4C7A8F;
	border-left: 0px dotted #4C7A8F;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	line-height: 150%;
	font-size: 12px;

}
.rightlink:hover {
	background-color: #FFFFFF;
	height: 21px;
	width: 100%;
	padding-top: 5px;
	padding-left: 2px;
	border-top: 0px dotted #4C7A8F;
	border-right: 0px dotted #4C7A8F;
	border-bottom: 1px dotted #4C7A8F;
	border-left: 0px dotted #4C7A8F;
	line-height: 150%;
	font-size: 12px;
	color: #CC0000;




}
.p12-1 {
	font-size: 12px;
	line-height: 150%;
}
.morelink:link {
	color: #0378ae;
	text-decoration: underline;
}
.morelink:visited {
	color: #0378ae;
	text-decoration: underline;
}
.morelink:hover {
	color: #FF3300;
	text-decoration: none;
}
.morelink:active {
	color: #FF3300;
	text-decoration: none;
}
.p12-2 {
	font-size: 12px;
	line-height: 140%;
	color: #026C9D;
}
.newslink:link {
	color: #026c9d;
	text-decoration: none;
}
.newslink:visited {
	color: #026c9d;
	text-decoration: none;
}
.newslink:hover {
	color: #009900;
	text-decoration: underline;
}
.newslink:active {
	color: #009900;
	text-decoration: underline;
}
.p12-3 {
	font-size: 12px;
	line-height: 130%;
}
.p12-4 {
	font-size: 12px;
	line-height: 130%;
	color: #ED145B;
	font-weight: bold;
}
#spance {
	height: 5px;
}
#center {
	text-align: center;
}
#right {
	text-align: right;
	height: 30px;
	padding-right: 10px;

}
#right-1 {
	float: right;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 110px;



}.toplink2:link {
	color: #E6F9FB;
	text-decoration: none;
}
.toplink2:visited {
	color: #E6F9FB;
	text-decoration: none;
}
.toplink2:hover {
	color: #FFFFCC;
	text-decoration: none;
}
.toplink2:active {
	color: #FFFFCC;
	text-decoration: none;
}
.toplink3:link {
	color: #ffffff;
	text-decoration: none;
}
.toplink3:visited {
	color: #ffffff;
	text-decoration: none;
}
.toplink3:hover {
	color: #FFF200;
	text-decoration: none;
}
.toplink3:active {
	color: #FFF200;
	text-decoration: none;
}
