/* Header */
#header {
	width: 1003px;
	font-size: 80%;
	height: 240px;
	border-right: 0px solid #FFFFFF;
	position: relative;
	background: url(../images/06bg.jpg) no-repeat right top;
	margin-right: auto;
	margin-left: auto;
}
#header .accesskey {
	font-size: 100%;
	text-align: left;
	position: absolute;
}
#header .accesskey a {
	color: #ffffdd;
}
#header .logo {
	float: left;
	margin: 0px;
}
#header .logo img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#header ul {
	padding-top: 0px;
	float: right;
	margin: 2px 10px 4px 0px;
}
html>body #header ul {
	margin: 5px 20px 4px 0px;
}
#header li {
	display: inline;
	background-image: url(../images/06arrow1.gif);
	background-repeat: no-repeat;
	background-position: left 1px;
	padding-left: 15px;
	padding-right: 5px;
	letter-spacing: .05em;
}
html > body #header li {
	background-position: left 4px;
}
*+html > body #header li {
	background-position: left 1px;
}
#header li a {
	color: #343433;
}
#header li a:hover {
	color: #ba6408;
}
#header form {
	color: #333333;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 212px;
	right: 40px;
}
.image {
	clear: left;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	display: none;
}
.image img {
	vertical-align: text-bottom;
	width: 700px;
}

/* Left Column */
#leftcol {
	width: 215px;
	padding-bottom: 10px;
}
#leftcol .accesskey {
	font-size: 100%;
	line-height: 120%;
	position: absolute;
	margin-top: -20px;
}
#leftcol .accesskey a {
	color: #e9f1a1;
}
.menu {
	margin: 0px 0px 0px 10px;
	width: 192px;
	padding: 0px;
}
.menu ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px 0px 20px;
}
html > body #leftcol ul {
}
.menu ul ul {
	margin: 0px 0px 10px;
	background: none;
	padding: 0px;
}

.menu li {
	margin: 0px;
	list-style-type: none;
	display: inline;
}

.menu li a {
	font-size: 80%;
	line-height: 130%;
	background-image: url(../images/06nav1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	width: 177px;
	margin: 0px 0px 0px 9px;
	color: #fef739;
	height: 40px;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 32px;
}
html>body .menu li a {
	width: 145px;
	height: 30px;
	padding-top: 8px;
	padding-right: 0px;
}
*+html>body .menu li a {
	width: 145px;
	height: 28px;
	padding-top: 10px;
	padding-right: 0px;
}

.menu li a:hover {
	text-decoration: none;
	background-image: url(../images/06nav1_ov.gif);
	background-repeat: no-repeat;
	color: #FFFFFF;
}
.menu li .here {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.menu li li a {
	border-bottom: 1px dashed #514d43;
	font-size: 80%;
	line-height: 140%;
	display: block;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #333333;
	padding: 5px 5px 3px 15px;
	height: auto;
	margin: 0px 5px 0px 20px;
	width: 160px;
	background: url(../images/06nav2.gif) no-repeat 2px 9px;
}
html>body .menu li li a {
	padding: 5px 5px 3px 15px;
	height: auto;
	margin: 0px 5px 0px 20px;
	width: 138px;
	background: url(../images/06nav2.gif) no-repeat 2px 9px;
}


.menu li li a:hover{
	text-decoration: underline;
	color: #b86308;
	padding: 5px 5px 3px 15px;
	border-bottom: 1px dashed #333333;
	background: #ffffff url(../images/06nav2.gif) no-repeat 2px 9px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
html>body .menu li li a:hover{
	background: url(../images/06nav2.gif) no-repeat 2px 9px;
}

.menu li li .here {
	color: #b86308;
	text-decoration: none;
}
#leftcol .banner {
	text-align: center;
	margin-top: 10px;
	clear: both;
}
#leftcol .banner img {
	margin-top: 5px;
	border: 1px solid #999999;
}

/* Center Column */
#middle {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	border-right: 0px solid #FFFFFF;
}
#center {
	font-size: 80%;
	line-height: 165%;
	color: #474747;
	text-align: left;
	padding: 25px 40px 15px 15px;
	width: auto;
}

.body #center {
	font-size: 80%;
	line-height: 165%;
	color: #474747;
	text-align: left;
	padding: 25px 40px 15px 15px;
	width: auto;
	background: url(../images/center_bg.gif) no-repeat right top;
}
html>body .body #center {
	padding: 10px 40px 15px 15px;
}
*+html>body .body #center {
	padding: 25px 40px 15px 15px;
}

#center .accesskey {
	font-size: 120%;
	line-height: 120%;
	position: absolute;
}
#center .accesskey a {
	color: #E7F09B;
}
#center p {
	margin-top: 10px;
	margin-bottom: 15px;
}
#center ul {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 7px;
	clear: both;
}
html > body #center ul{
	margin-left: -32px;
	padding-left: 32px;
}
#center ul li {
	padding-bottom: 5px;
	background-image: url(../images/06arrow3.gif);
	background-repeat: no-repeat;
	background-position: 2px 5px;
	padding-left: 15px;
	list-style-type: none;
	line-height: 145%;
}
#footer {
	font-size: 75%;
	width: 1003px;
	background-color: #7fa12a;
	line-height: 150%;
	color: #FFFFFF;
	background-image: url(../images/footer_bg.gif);
	background-repeat: repeat-x;
	background-position: right top;
	padding-top: 30px;
	padding-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#footer .aplus {
	float: right;
	margin-right: 10px;
}

#footer .aplus img {
	border: 1px solid #666666;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#footer p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
}
#footer .logo img {
	float: left;
	margin-right: 50px;
	border-style: none;
	margin-left: 10px;
}

/* Mp Style */
.headline {
	float: left;
	margin-right: 7px;
	border: 1px solid #FFFFFF;
	width: 200px;
	margin-top: 3px;
	margin-bottom: 5px;
}
.block {
	clear: both;
}
.block img {
	float: left;
	margin-right: 5px;
	border: 1px solid #abb175;
	width: 90px;
	margin-bottom: 8px;
}
.inline {
	clear: both;
	width: 90%;
}
.inline td {
	font-size: 80%;
	width: 23%;
	color: #474747;
}
html > body .inline td {
	font-size: 100%;
}
.inline img {
	border: 1px solid #abb175;
	width: 120px;
}
.inline p {
	margin: 0px;
	line-height: 135%;
}
.column {
	clear: both;
}
.column td {
	font-size: 80%;
	line-height: 170%;
	color: #474747;
}
html > body .column td {
	font-size: 100%;
}
.column img {
	border: 1px solid #abb175;
	width: 110px;
	float: left;
	margin-right: 7px;
	margin-bottom: 5px;
}
.column .left {
	width: 48%;
	padding-right:8px;
}
.column .right {
	width: 48%;
	padding-left:8px;
}

/* Common Style */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-align: center;
}
.body {
	margin: 0;
	padding: 0;
	background-color: #e4f5ba;
	background-image: url(../images/body_bg.jpg);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
}
form {
	margin: 0;
	padding: 0;
}
a {
	color: #5d7f03;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #b86308;
}
h4{
	font-size: 125%;
	color: #d67207;
	line-height: 200%;
	padding-left: 50px;
	background-image: url(../images/06topic.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 10px;
	margin-bottom: 12px;
	clear: both;
	font-weight: bold;
	letter-spacing: .05em;
	height: 41px;
}
h5{
	color: #474747;
	line-height: 130%;
	margin-top: 8px;
	margin-bottom: 2px;
	font-weight: normal;
	font-size: 120%;
}
strong {
	color: #666666;
	line-height: 150%;
	font-weight: bold;
	font-size: 100%;
	line-height: 150%;
	margin-bottom: 3px;
	letter-spacing: .05em;
}
em {
	font-style: normal;
	color: #A3620A;
	font-weight: normal;
}
hr{
	clear: both;
	margin: 0px;
	border: none;
	background-color: #A5A5A5;
	color: #A5A5A5;
	height: 1px;
}
.input {
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-right: 2px;
	font-size: 90%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	font-weight: normal;
	line-height: 150%;
}
.button {
	background: url(../images/buttonbg.gif) repeat-x left top;
	font-size: 12px;
	color: #41800d;
	padding: 5px 0px 0px 0px;
	border: 1px solid #9cc423;
	line-height: 100%;
	margin-right: 3px;
}
.more {
	padding-left: 18px;
	display: inline;
	background-image: url(../images/06more.gif);
	background-repeat: no-repeat;
	background-position: 6px 4px;
	padding-right: 7px;
	clear: both;
	float: right;
}
.top {
	background-image: url(../images/top.gif);
	background-repeat: no-repeat;
	background-position: right 3px;
	margin-top: 8px;
	clear: both;
	text-align: right;
	padding-right: 15px;
}
.leftimg{
	float: left;
	margin-right: 10px;
	border: 1px solid #FFFFFF;
	margin-bottom: 5px;
}

/* List Page Style */
.lptable caption {
	font-weight: normal;
	padding-bottom: 8px;
	font-size: 120%;
	color: #A3620A;
}
.lptable {
	border-collapse:collapse;
	margin-top: 20px;
	width: 99%;
	font-size: 100%;
	margin-bottom: 30px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.lptable th {
	padding: 3px 5px 2px 10px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	background-color: #fbe3a0;
	color: #333333;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	line-height: 150%;
}
.lptable td {
	padding: 6px 5px 6px 10px;
	vertical-align: top;
	line-height: 145%;
	border-bottom: 1px dashed #999999;
	color: #666666;
}
.lpphoto {
	width: 99%;
	margin-top: 25px;
}
.lpphoto td {
	font-size: 75%;
	width: 33%;
	padding-right: 5px;
	padding-left: 5px;
	color: #474747;
}
html > body .lpphoto td {
	font-size: 100%;
}
.lpphoto img {
	width: 120px;
	border: 1px solid #666666;
}
.lpphoto p {
	margin-top: 0px;
	margin-bottom: 5px;
}
.term {
	margin-bottom: 15px;
}
.category {
	margin-top: 10px;
	margin-bottom: 10px;
}
.category a {
	margin-left: 2px;
	margin-right: 2px;
}
.previous{
	background-image: url(../images/previous.gif);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left: 8px;
	margin-left: 5px;
}
.next{
	background-image: url(../images/next.gif);
	background-repeat: no-repeat;
	background-position: right 2px;
	padding-right: 8px;
}
.search{
	background-image: url(../images/search.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 15px;
	display: inline;
	margin-left: 8px;
	padding-top: 4px;
}
.nplist {
	margin-left: 16px;
	margin-top: 15px;
	margin-right: 25px;
	margin-bottom: 25px;
}
.nplist ul li {
	background-image: url(../images/06np.gif);
	background-repeat: no-repeat;
	background-position: left 8px;
	padding-left: 15px;
	list-style-type: none;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #94CCE4;
}

/* Content Page Style */
.cptable {
	border-collapse:collapse;
	font-size: 100%;
	border: 3px double #CCCCCC;
	margin-bottom: 25px;
	color: #333333;
	margin-left: 5px;
	margin-top: 15px;
	width: 90%;
}
.cptable caption {
	padding-bottom: 5px;
	font-size: 120%;
	color: #3d6825;
}
.cptable th {
	font-weight: normal;
	background-color: #fbe3a0;
	padding: 5px 10px 5px 5px;
	border: 1px solid #CCCCCC;
	text-align: left;
	vertical-align: top;
	line-height: 140%;
}
.cptable td {
	font-weight: normal;
	padding: 5px 5px 5px 10px;
	border: 1px solid #CCCCCC;
	line-height: 140%;
	background-color: #FFFFFF;
}
.photobox {
	padding: 15px 20px;
	width: auto;
	border: 1px dashed #539160;
	text-align: center;
	margin-left: 25px;
	margin-bottom: 25px;
	background-color: #fbe3a0;
	margin-right: 25px;
	color: #333333;
}
.photobox img {
	float: none;
	margin-top: 10px;
	border: 4px solid #CCCCCC;
	width: 300px;
}
.photobox h5 {
	color: #DD7005;
}
.photobox p {
	text-align: left;
	color: #333333;
}
.photobox a {
	color: #339900;
}
.path {
	margin: 0px;
}
.friendly {
	text-align: right;
	margin: -16px 0px 0px;
}
.friendly .print {
	background-image: url(../images/print.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 18px;
	margin-left: 5px;
	display: inline;
}
.friendly .back {
	background-image: url(../images/back.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 26px;
	display: inline;
}
.friendly .email {
	background-image: url(../images/email.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 26px;
	display: inline;
}

/* Sitemap */
.sitemap li{
	line-height: 170%;
	padding-bottom: 3px;
	padding-top: 0px;
	list-style-type: none;
	margin-left: 23px;
	margin-bottom: 8px;
	border-bottom: 1px dashed #999999;
}
.sitemap li li {
	line-height: 150%;
	list-style-type: none;
	border: none;
	margin-bottom: 0px;
}
.sitemap li li li, .sitemap li li li li , .sitemap li li li li li {
	line-height: 150%;
	list-style-type: none;
	border: none;
}

/* Layout Table */
.layout {
	border-collapse:collapse;
	font-size: 100%;
	line-height: 150%;
	clear: both;
	width: 1003px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
.layout td {
	vertical-align: top;
	text-align: left;
}
.layout .leftbg {
	vertica l-align: top;
	background: url(../images/left_bg.gif) no-repeat left top;
	width: 212px;
	padding-top: 10px;
}
/*-1119新增附件縮圖格式-*/
.h4 {
	font-size: 125%;
	color: #d67207;
	line-height: 200%;
	padding-left: 50px;
	background-image: url(../images/06topic.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 10px;
	margin-bottom: 12px;
	clear: both;
	font-weight: bold;
	letter-spacing: .05em;
	height: 41px;
/*	border: 1px solid red;*/
}
.lpphoto2 {
	margin: 8px 15px 0px 0px;
	padding: 0px;
	width: 155px;
	text-align: left;
	display: inline;
	float: left;
	vertical-align: top;
	font-size: 100%;
}
.lpphoto2 img {
	width: 150px;
	height: 100px;
	border: 3px double #CCCCCC;
	margin: 0px 0px 5px 0px;
}
.lpphoto2 p {
	text-align: left;
	font-size: 85%;
	margin: 5px 0px 0px 5px;
	padding: 3px;
	clear: both;
	width: 155px;
}
.lpphoto2 p a {
	line-height: 250%;
	padding: 10px 3px 3px 3px;
}
.c01 {
	clear: both;
	display: none;	
}
