/*	
	國工局全球網 - All Rights Reserved.
	
	Produicted By 凌網科技 HyWeb Tech. Co., Ltd.2004.
	http://www.hyweb.com.tw　
	HyWeb CSS Style(writed by m10/Carol13 Chen) 2004/02/26
*/

/* MainRight---------build 建設重點------- */
#build .buildTop {
	width:583px;
	height: 20px;
	background-image: url(../images/buildTop.gif);
	background-repeat: no-repeat;
}

#build .buildDown {
	width:583px;
	height: 8px;
	background-image: url(../images/buildDown.gif);
	background-repeat: no-repeat;
}

#build .buildMain {
	width:583px;
	background-image: url(../images/buildMainBg.gif);
	background-repeat: repeat-y;
	padding-right: 10px;
}
#build .left {
	float: left;
}

#build .buildList {
	width: 145px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #304E81;
	list-style-image: url(../images/point2.gif);
	line-height: 22px;
}


#build .buildList a {
	color: #304E81;
	text-decoration: none;

}
#build .buildList a:hover {
	color: #6D80AD;
}
