@charset "utf-8";
/*    */
/* CSS Document for Sitemap */

@import url("common.css");

.Sitemap {
	margin-left: 35px;
	font-size: 80%;
	line-height: 150%;
}
.Sitemap h3 {
	font-size: 120%;
	color: #BD5F00;
	font-weight: normal;
	letter-spacing: 0.15em;
	margin-top: 20px;
	margin-bottom: 0.2em;
	padding-bottom: 3px;
}
.Sitemap ul {
	margin-top: 10px;
}
.Sitemap ol {
	list-style-type: none;
	margin: 0px;
	padding-left: 2em;
}
.Sitemap ol li {
	margin-top: 3px;

}
.Sitemap ol li a {
	margin-left: 0.8em;
}
