USE [LITTLE_BEAN]
GO
/****** Object:  StoredProcedure [dbo].[SP_RESCURE]    Script Date: 11/10/2008 18:09:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RESCURE]
(
   @SESSION_ID varchar(50) ,
   @DAYS int ,
   @GROWUPDAYS int
)
	
AS
BEGIN
  DECLARE @STATUS int
  DECLARE @USER_UID varchar(50)
  DECLARE @PLANTTYPE varchar(2)
  DECLARE @SCORE int
  DECLARE @TxnName varchar(20)

  SELECT @STATUS = STATUS from LBG_SESSION where UID=@SESSION_ID
  IF @STATUS <> 3  RETURN 0
  
  

 
  -- 取得USER的 UID
  SELECT @USER_UID = FROMID from LBG_GUEST_N2M where
  TOID = @SESSION_ID

  --取得該死亡植栽的分數
  SELECT @SCORE = SCORE , @PLANTTYPE=PLANTTYPE from LBG_SESSION where UID=@SESSION_ID



SET @TxnName = 'RESCURE_TXN'
BEGIN TRANSACTION @TxnName
   --STEP 1. 先扣除分數
     UPDATE LBG_GUEST SET SCORE = SCORE - @SCORE where UID = @USER_UID

   --STEP 2. 更新植物成長狀態 , 與時間
     UPDATE LBG_SESSION SET STATUS = 1 , DAYS = @DAYS , GROWUPDAYS = @GROWUPDAYS WHERE UID = @SESSION_ID


COMMIT TRANSACTION @TxnName
END
